extends ./_layout_system

block content
  body
    div.wrapper
      div.sidebar(data-color="user_blue" data-background-color="white" data-image="../vendor/assets/img/sidebar-1.jpg")
        div.logo
          a.simple-text.logo-normal(href="/system/home")
            i.fas.fa-shield-alt.fa-lg &nbsp; SAS
        .sidebar-wrapper
          ul.nav
            li.nav-item.active
              a.nav-link(href='./home')
                i.fas.fa-home
                p Register/Suspend
            li.nav-item
              a.nav-link(href='./retrieve')
                i.far.fa-paper-plane
                p Send Notification
      div.main-panel
        nav(class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top")
          .container-fluid
            .navbar-wrapper
              a.navbar-brand(href='#home') Register student to a teacher...
            .collapse.navbar-collapse.justify-content-end
              ul.navbar-nav
                li.nav-item.dropdown
                  a#navbarDropdownProfile.nav-link(href='#' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
                    i.fas.fa-user.fa-lg(style="color:#666666")
                    p.d-lg-none.d-md-block
                      | Account
                    text &nbsp; #{username}
                  .dropdown-menu.dropdown-menu-right.failedLoginAttempt-menu(aria-labelledby='navbarDropdownProfile')
                    a.dropdown-item(href='/logout') Log Out
        .content
          .container-fluid
            .row
              .col-md-12
                if alert === "success"
                  .alert.alert-success.animated.fadeInDown
                    button.close(type="button" aria-hidden="true" data-dismiss="alert")
                      i.fas.fa-times
                    span
                      i.fas.fa-check-circle(style="color:white")
                      b &nbsp; #{validation_msg}
                if alert === "danger"
                  .alert.alert-danger.animated.shake
                    button.close(type="button" aria-hidden="true" data-dismiss="alert")
                      i.fas.fa-times
                    span
                      i.fas.fa-exclamation-triangle(style="color:white")
                      b &nbsp; #{validation_msg} 
            .row
              .col-md-6
                .card
                  .card-header.card-header-text.card-header-primary
                    .card-text
                      .card-title Teacher Accounts
                    .small(style="color: black") To select, click on teacher email...
                  .card-body.autosize
                    table.table.table-hover
                      tr
                        th Teachers
                        th Student(s) Assigned
                      tbody
                        each record in accounts
                          tr
                            td 
                              a.nav-link(onclick="selectTeacher(\""+record.email+"\")" style="color:green; cursor: pointer") #{record.email}
                            td #{record.students_assigned}
              .col-md-6
                .card
                  .card-header.card-header-text.card-header-secondary
                    .card-text
                      .card-title Student Accounts
                    .small(style="color: black") To select, click on student email...
                  .card-body.autosize
                    table.table.table-hover
                      tr
                        th Students
                        th Is Suspended?
                        th Suspend Student
                      tbody
                        each record in accounts_student
                          tr
                            td 
                              a.nav-link(onclick="selectStudent(\""+record.email+"\")"  style="color:green; cursor: pointer") #{record.email}
                            td #{record.suspend}
                            td
                              a#fileDelLink.fileDelLink(onclick="suspendStudent_post(\""+record.email+"\")")
                                i.fas.fa-times(style="color: red; cursor: pointer;" data-toggle="tooltip" data-placement="top" title="Suspend Student")
            .row
              .col-md-12
                .card
                  .card-header
                    h4.card-title Selected Accounts
                  .card-body
                    form.form-group.form-file-upload.form-file-multiple.validate-form(role="form" method="post" action="/system/api/register")
                      .form-group
                        label(for="teacher_selected") Teachers
                        input.form-control(type="text" id="teacher_selected" name="teacher_selected")
                      .form-group
                        label(for="students_selected") Students
                        input.form-control(type="text" id="students_selected" name="students_selected")
                      .form-group
                        button(type="submit" class="btn btn-user_blue" data-toggle="tooltip" data-placement="top" title="Register") Register